#about {
  background-color: black;
  @media (prefers-reduced-motion: no-preference) {
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: wipe-cinematic-in;
  }
  p {
    color: white;
  }
  section {
    padding: 30vh 2rem;
    position: relative;
    overflow: hidden;
  }
  
  section:nth-child(1) {
    display: grid;
    color: white;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: inherit;
    > h2 {
      grid-column: 1/3;
      font-size: 96px;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 0;
      @media (max-width: 991px) {
        font-size: clamp(3rem, 4vw, var(--font-size-h2));
      }
    }
    > p {
      @media (max-width: 991px) {
        grid-column: 1/3;
      }
    }
    > blockquote {
      position: relative;
      grid-column: 1/3;
      font-size: 32px;
      @media (max-width: 991px) {
        font-size: clamp(2rem, 4.0363vw, 5rem);
      }
      > p {
        padding: 10rem;
        position: relative;
        @media (max-width: 991px) {
          padding: 10rem 2rem;
          font-size: clamp(2rem, 4.0363vw, 5rem);
        }
        @media (max-width: 767px) {
          padding: 2rem;
        }
        &::before, &::after {
          content: "";
          display: block;
          position: absolute;
          background-repeat: no-repeat;
          opacity: 1;
          height: 150px;
          width: 150px;
          fill: white;
          transform: skew(0deg, 0deg);
          transition: all ease-in-out 1s;
        }
        &::before {
          left: -175px;
          top: -20px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='white'><path d='M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64h-64c-35.3 0-64-28.7-64-64V216z'/></svg>");
          @media (max-width: 991px) {
            left: 0;
          }
          @media (max-width: 767px) {
            display: none;
          }
        }
        &::after {
          right: -175px;
          bottom: -20px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='white'><path d='M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8h-64c-35.3 0-64-28.7-64-64v-64c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v136zm-256 0c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64v-64c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v136z'/></svg>");
          @media (max-width: 991px) {
            right: 0;
          }
          @media (max-width: 767px) {
            display: none;
          }
        }
        > strong {
          line-height: 1.2;
          color: transparent;
          @supports (background-clip: text) or (-webkit-background-clip: text) {
            background-clip: text;
            // Google Chrome fix
            -webkit-text-fill-color: transparent;
            background: -webkit-linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
            background: -o-linear-gradient(transparent, transparent);
            -webkit-background-clip: text;
          }
          background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
          font-size: 60px;
          display: block;
          @media (max-width: 991px) {
            font-size: clamp(3rem, 3.2291vw, 5rem);
            margin-bottom: 1rem;
          }
        }
      }
      &::after, &::before {
        position: absolute;
        width: 250px;
        height: 2px;
        content: "";
        @supports (background-clip: text) or (-webkit-background-clip: text) {
          background-clip: initial;
        }
        background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      @media (prefers-reduced-motion: no-preference) {
        &:hover {
          > p {
            &::before, &::after {
              transform: skew(7deg, 10deg);
            }
          }
        }
      }
    }
    a {
      color: $color-primary-alt;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    > p:is(:last-child) {
      grid-column: 1/3;
    }
  }
  section:nth-child(2) {
    overflow: inherit;
    @media (min-width: 992px) {
      overflow: visible;
    }
    *:not(a) {
      color: black;
      z-index: 1;
      &::after, &::before {
        z-index: 0;
      }
    }
    &::before, &::after {
      content: "";
      position: absolute;
      display: block;
      background: $color-background-alt;
      width: 100vw;
      height: 100%;
      z-index: 0;
    }
    &::before {
      left: 0;
      top: 0;
    }
    &::after {
      right: 0;
      top: 0;
    }
    > h2 {
      position: relative;
      line-height: 1.25;
      color: white;
      filter: invert(1);
      &::after {
        content: "";
        background-color: black;
        position: absolute;
        /* Firefox only */
        @-moz-document url-prefix() {
          right: -18px;
          top: 3px;
          width: 265px;
        }
        /* Webkit browser engine: Safari and Chrome */
        right: -8px;
        top: 3px;
        width: 290px;
        display: block;
        height: 100%;
        mix-blend-mode: difference;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        filter: invert(1);
        @media (max-width: 991px) {
          top: 0;
          left: 0;
          width: 100%;
        }
      }
      &:hover {
        &::after{
          opacity: 1;
        }
      }
      &::before{
        position: absolute;
        width: 10ch;
        padding-top: 3em;
        transform-origin: bottom right;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='rgb(255, 142, 28)' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 80%;
        color: #ff8e1c;
        font-size: 0.9rem;
        content: "filter: invert()";
        @media (min-width: 1475px) {
          left: -120px;
          transform: rotate(36deg);
        }
        @media (min-width: 1400px) and (max-width: 1474px) {
          top: -45px;
          left: -70px;
          transform: rotate(70deg);
        }
        @media (min-width: 1276px) and (max-width: 1399px) {
          left: -120px;
          transform: rotate(36deg);
        }
        @media (min-width: 1200px) and (max-width: 1275px) {
          top: -15px;
          left: -120px;
          transform: rotate(70deg);
        }
        @media (min-width: 1110px) and (max-width: 1199px) {
          left: -120px;
          transform: rotate(36deg);
        }
        @media (min-width: 1030px) and (max-width: 1109px) {
          top: -15px;
          left: -120px;
          transform: rotate(70deg);
        }
        @media (min-width: 992px) and (max-width: 1029px) {
          top: -40px;
          left: -80px;
          transform: rotate(70deg);
        }
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    p:nth-of-type(2) {
      align-self: center;
      margin-top: 2rem;
      font-size: 1.5em;
      font-weight: var(--font-weight-strong);
      text-align: center;
    }
    ul {
      display: flex;
      justify-content: start;
      padding: 0 0 1rem 0;
      list-style: none;
      width: 100%;
      gap: 1rem;
      margin: 1rem 0 2rem 0;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      @media (max-width: 991px) {
        margin: 0;
        overflow: hidden;
        margin: 0;
        flex-wrap: wrap;
      }
      & > * {
        scroll-snap-align: start;
      }
      //Firefox scrollbar
      scrollbar-width: thin;          /* "auto" or "thin" */
      scrollbar-color: $color-primary-alt $color-background-alt;   /* scroll thumb and track */ 
      //Chrome scrollbar
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-track {
        background: $color-background-alt;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-primary-alt;
        border-radius: $border-radius;
        border: none;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1rem;
        color: $color-primary;
        background-color: var(--color-light);
        height: 100px;
        width: 250px;
        border-radius: 0.5rem;
        box-shadow: 5px 5px 10px rgba(0,0,0,.05);
        @media (max-width: 991px) {
          width: max-content;
          flex-wrap: wrap;
          justify-content: flex-start;
          height: auto;
        }
      }
      &::after{
        position: absolute;
        right: -125px;
        width: 14ch;
        padding-top: 3em;
        color: $color-primary-alt;
        font-size: 0.9rem;
        content: "â† scroll-snap-align";
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
}

@keyframes wipe-cinematic-in {
  0% {
    clip-path: inset(100% 0 100% 0);
  }
  30%, 70% {
    clip-path: inset(10% 0 10% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

// @supports (animation-timeline: works) {
// 	#about {
//     section:nth-child(1) {
//       > blockquote {
//         animation: flipQuote 1s linear ;
//         animation-fill-mode: forwards;
//         animation-timeline: flipTimeline;
//         transform: rotateX(-120deg);
//         will-change: transform;
	      
//       }
//     }
//   }
// }

// @scroll-timeline flipTimeline {
//   source: selector(#about);
//   orientation: vertical;
//   scroll-offsets: 0, 100vh;
// }

// /* Scroll-Linked Animation */
// @keyframes flipQuote {
//   to {
//     transform: rotateX(0deg);
//   }
// }