#contribute {
    section {
        padding: 30vh 2rem;
        position: relative;
        overflow: hidden;
        &:nth-child(2), &:nth-child(1) {
            h3, h2 {
                font-size: clamp(3rem, 4vw, var(--font-size-h2));
            }
        }
    }
    ol {
        list-style: none;
        counter-reset: steps;
        li {
            counter-increment: steps;
            position: relative;
            &::before {
                font-size: 3rem;
                font-weight: 600;
                content: counter(steps);
                background: linear-gradient(45deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
                @supports (background-clip: text) or (-webkit-background-clip: text) {
                    background-clip: text;
                    // Google Chrome fix
                    -webkit-text-fill-color: transparent;
                    background: -webkit-linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
                    background: -o-linear-gradient(transparent, transparent);
                    -webkit-background-clip: text;
                  }
                color: transparent;
                line-height: 1em;
                position: absolute;
                left: -15px;
                top: 50%;
                transform: translate(-99%, -50%);
            }
        }
    }
}