@mixin logomark() {
  display: inline-grid;
  color: transparent;
  background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
  place-content: center;
  will-change: transform;
  overflow: hidden;
  line-height: 1.4241;
  margin-bottom: 1rem;
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-clip: text;
     // Google Chrome fix
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%, #f65aad 76%, #ec3d43);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }
}
